ASSIGNMENT 2:

Q1

Ans 1 --

In [4]:
marks = int(input('type your marks'))
if marks >90:
    print('Grade A')
elif marks >80 and marks <= 90:
    print('Grade B')
elif marks >= 60 and marks <= 80:
    print('Grade C')
else : 
    print('Grade D')

type your marks 94

Grade A

Q2

Ans 2 --

In [5]:
price = int(input('price of bike'))
tax = 0
if price > 0 and price <= 50000:
    tax = 50000*5/100
elif price > 50000 and price <= 100000:
    tax = 50000*5/100 + (price - 50000)*10/100
else:
    tax = 50000*5/100 + 50000*10/100 + (price - 100000)*15/100
print(tax)

price of bike 56788

3178.8

Q3

Ans 3 --

In [6]:
city = input('type city name')
if city == 'Delhi':
    print('Red Fort')
elif city == 'Agra':
    print('Taj Mahal')
elif city == 'Jaipur':
    print('Jal Mahal')

type city name Agra

Taj Mahal

Q4

Ans 4 --

In [8]:
number = int(input("Enter a number: "))
count = 0

while number >= 10:
    number = number/3
    count = count + 1

print(count)

Enter a number:  646564564

17

Q5

Ans 5 --

'while' loop is control a flow of statement. 'while' loop is work same as 'for' loop, but while loop is useful when you need to 'run' and 'repeat' a block of code in specific condition is met , when you don't know how many time of code need to executed so code is not run because 'while' loop check first condition and than execute code for us. EXAMPLE : --

In [9]:
count = 0
while count <=10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10

Q6

Ans 6 --

In [1]:
k = 1
i = 1
while i <= 5:
    b = 1
    while b <= 5 - i:
        print(' ' , end = '')
        b = b + 1
    j = 1 
    while j <= k :
        print('+' , end = '')
        j = j + 1
    k = k + 2
    print()
    i = i + 1

    +
   +++
  +++++
 +++++++
+++++++++

Q7 

Ans 6 --

In [2]:
num_rows = int(input("Enter the number of rows for the star triangle: "))
for i in range(num_rows):
    for j in range(num_rows - i - 1):
        print(" ", end="")
   
    for j in range(2 * i + 1):
        print("*", end="")
   
    print()

Enter the number of rows for the star triangle:  4

   *
  ***
 *****
*******

In [1]:
i = 10
while i > 0 :
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

Q8 

Ans 8 --

question 7 and 8 both are same

In [2]:
a = 10
while a > 0 :
    print(a)
    a = a - 1

10
9
8
7
6
5
4
3
2
1